<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>To-Do List - API - DRF</h1>

  <ul>
    <li>
      <a href="/admin">ADMIN</a>
    </li>
    <li>
      <a href="{% url 'swagger-ui' %}">API DOCS - Swagger</a>
    </li>
    <li>
      <a href="{% url 'redoc' %}">API DOCS - REDOC</a>
    </li>
  </ul>
</body>
</html>